/* Structural modifications */
p {
	margin: 0px;
	padding: 0px;
}

body {
	height: 100%;
	background-color: #e7e7e7;
}

canvas {
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

hr {
	border: 1px solid black;
	border-style: solid none none none;
}

form {
	margin-bottom: 0px;
}

/* Materialize override */
.container {
	margin: 0 auto;
	max-width: 960px;
	min-width: 960px;
	width: 90%;
}

.row {
	margin: 0px;
	padding: 0px;
}

.tabs-vertical .tabs {
	height: auto;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
	display: -webkit-flex;
	display: flex;
}

.tabs-vertical .tab {
	width: 100%;
}

.tabs-vertical .tab .active {
  -moz-transition: border-color .5s ease;
  -o-transition: border-color .5s ease;
  -webkit-transition: border-color .5s ease;
  transition: border-color .5s ease;
  border-right: 3px solid #424242;
}

.card {
	margin: 0px;
	padding: 0px;
}

.card-content {
	margin: 0px;
	padding: 0px;
}

.card .card-content {
	margin: 0px;
	padding: 0px;
}

/* Chasm classes */
.noble { /* Prevents highlighting/dragging */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;

	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

.testoutline { /*Simple border for checking boundaries*/
	border: 1px solid red;
}

.hidden {
	display: none;
}

.pixelart {
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

.flex {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}

.unflex {
	display: block;
}

.vertcenter {
	display: -webkit-flex;
	display: flex;
	align-items: center;
}

.hcenter {
	text-align: center;
}

.styled-table {
    border-collapse: collapse;
    font-size: 1.2em;
    font-family: sans-serif;
}

.styled-table thead tr {
    background-color: #9c8cc3;
    color: black;
    border-bottom: 2px solid black;
}

.styled-table th,
.styled-table td {
    padding: 6px 8px;
	border-radius: 0px;
}

.styled-table tbody tr {
    border-bottom: 1px solid black;
}

.styled-table tbody tr:last-of-type {
    border-bottom: none;
}

.styled-table tbody td:nth-of-type(even) {
    border-left: 1px solid black;
}

.styled-table thead th:nth-of-type(even) {
    border-left: 1px solid black;
}

/* ID's */
#title {
	padding-left: 34px;
}

#character_sheet {
	margin: 10px 0px 12px 0px;
	padding: 0px 0px 0px 0px;
}

#left_column {
	width: 262px;
	padding: 10px 10px 10px 10px;
}

#mid_column {
	width: 698px;
	padding: 10px 10px 10px 0px;
}

#mid_upper_left_column {
	width: 421px;
	margin-right: 10px;
}

#mid_upper_right_column {
	width: 257px;
}

#attributes_box {
	border-width: 2px;
	border-style: solid;
	border-color: black;
}

#derived_attributes_box {
	border-width: 2px;
	border-style: solid;
	border-color: black;

	margin-top: 10px;
}

#wounds_box {
	border-width: 2px;
	border-style: solid;
	border-color: black;

	margin-top: 10px;
}

#character_box {
	border-width: 2px;
	border-style: solid;
	border-color: black;
}

#conditions_box {
	border-width: 2px;
	border-style: solid;
	border-color: black;
}

#acclimations_box {
	border-width: 2px;
	border-style: solid;
	border-color: black;

	margin-top: 10px;
}

#experience_box {
	border-width: 2px;
	border-style: solid;
	border-color: black;

	margin-top: 10px;
}